<app-header></app-header>
<div class="container">
  <form #loginForm="ngForm">
    <div class="row">
      <div class="col-md-6 offset-md-3">
        <div class="login-form mx-auto">
          <h2 class="login-header">Đăng nhập</h2>
          <div class="form-group">
            <label for="phoneNumber">Số điện thoại</label>
            <input
              type="text"
              [(ngModel)]="phoneNumber"
              name="phoneNumber"
              (focus)="loginForm.form.markAsTouched()"
              class="form-control"
              id="phoneNumber"
            />
            <div class="divider-nospace"></div>
            <p
              class="text-danger"
              *ngIf="
                (phoneNumber.length < 9 || phoneNumber.length > 10) &&
                loginForm.form.touched
              "
            >
              Số điện thoại phải có ít nhất 9 ký tự và nhiều nhất 10 kí tự
            </p>
          </div>
          <div class="mt-5"></div>
          <div class="form-group password-field">
            <label for="password">Mật khẩu</label>
            <input
              type="password"
              [(ngModel)]="password"
              name="password"
              placeholder="Ít nhất 3 ký tự"
              (focus)="loginForm.form.markAsTouched()"
              class="form-control"
              id="password"
            />
            <i class="password-toggle fas fa-eye-slash"></i>
            <div class="divider-nospace"></div>
            <p
              class="text-danger"
              *ngIf="password.length <= 3 && loginForm.form.touched"
            >
              Mật khẩu phải có ít nhất 3 kí tự
            </p>
          </div>
          <div class="form-group">
            <div class="form-check checkbox-text">
              <span style="display: flex">
                <input type="checkbox" class="form-check-input" id="remember" />
                <label class="form-check-label text-start" for="remember">
                  Ghi nhớ đăng nhập</label
                >
              </span>
              <a href="#" class="register-link">Quên mật khẩu?</a>
            </div>
          </div>
          <div class="form-group">
            <select
              class="form-control access-right"
              [(ngModel)]="selectedRole"
            >
              <option selected disabled>Quyền đăng nhập</option>
              <option *ngFor="let role of roles" [ngValue]="role">
                {{ role.name }}
              </option>
            </select>
          </div>
          <button type="button" class="login-button" (click)="login()">
            Đăng nhập
          </button>
          <div class="divider"></div>
          <p class="text-center">
            Bạn chưa đăng ký?
            <span> <a href="#" class="register-link" routerLink="/register">Tạo tài khoản</a></span>
          </p>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
