.container {
    color: black;
    height: 100vh;
}
.login-form {
    // background-color: white;
    border-radius: 10px;
    padding: 20px;
    max-width: 500px;
    border: 1px solid rgb(32, 34, 60);
    // align-items: center;
    // justify-content: center;
    background-color: white;
}
.login-header {
    text-align: center;
    color: rgb(32, 34, 60);
    margin-bottom: 20px;
}

.form-group{
    font-size: 15px;
}

.form-control {
    
    border: none;
    color: black;
}
.form-control:focus {
    color: black;
    background-color: transparent;
    outline: none;
    border-color: transparent;    
}
  
.divider-nospace {
    border-top: 1px solid black;
}

.password-field {
    // position: relative;
}
.password-toggle {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    color: rgb(16, 16, 17);
    cursor: pointer;
    padding: 50px;
}
.checkbox-text {
    color: black;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
}
/* Màu checkbox khi được chọn */
.checkbox-text input[type="checkbox"]:checked {
    border-color: black;
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
}

.form-check-input {
    
    margin: 0 -20px;
}

.register-link {
    color: rgb(245, 48, 48);
    text-decoration: none;
}
.access-right {
    margin-top: 20px;
    width: 200px;
    color: black;
    border: 1px solid rgb(243, 165, 42);
}

.access-right:focus {
    border: 1px solid rgb(225, 64, 180);
}

.form-control::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: grey;
    opacity: 1;
    /* Firefox */
}

.form-control:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgba(243, 165, 42, 0.4);
}

.form-control::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgba(243, 165, 42, 0.4);
}

.login-button {
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
    // background: linear-gradient(to right, rgb(247,202,201), rgb(253,219,219), rgb(208,228,245), rgb(179,206,229));
    color: white;
    border-radius: 30px;
    width: 100%;
    padding: 10px 0;
    margin-top: 20px;
    border: none;
    font-size: 20px;
    font-weight: 100;
}
.divider {
    height: 2px;
    background-color: lavender;
    /* background-color: rgb(105, 244, 181) */
    margin: 20px;
}