<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-dark">
    <div class="container">
      <a class="navbar-brand" href="#">
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="30"
          height="30"
          fill="currentColor"
          class="bi bi-flower2"
          viewBox="0 0 16 16"
        >
          <path
            d="M8 16a4 4 0 0 0 4-4 4 4 0 0 0 0-8 4 4 0 0 0-8 0 4 4 0 1 0 0 8 4 4 0 0 0 4 4m3-12q0 .11-.03.247c-.544.241-1.091.638-1.598 1.084A3 3 0 0 0 8 5c-.494 0-.96.12-1.372.331-.507-.446-1.054-.843-1.597-1.084A1 1 0 0 1 5 4a3 3 0 0 1 6 0m-.812 6.052A3 3 0 0 0 11 8a3 3 0 0 0-.812-2.052c.215-.18.432-.346.647-.487C11.34 5.131 11.732 5 12 5a3 3 0 1 1 0 6c-.268 0-.66-.13-1.165-.461a7 7 0 0 1-.647-.487m-3.56.617a3 3 0 0 0 2.744 0c.507.446 1.054.842 1.598 1.084q.03.137.03.247a3 3 0 1 1-6 0q0-.11.03-.247c.544-.242 1.091-.638 1.598-1.084m-.816-4.721A3 3 0 0 0 5 8c0 .794.308 1.516.812 2.052a7 7 0 0 1-.647.487C4.66 10.869 4.268 11 4 11a3 3 0 0 1 0-6c.268 0 .66.13 1.165.461.215.141.432.306.647.487M8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
          />
        </svg>
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: activeNavItem === 0 }"
              (click)="setActiveNavItem(0)"
              routerLink="/"
              >Trang chủ</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: activeNavItem === 1 }"
              (click)="setActiveNavItem(1)"
              routerLink="/blog"
              >Thông báo</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link"
              [ngClass]="{ active: activeNavItem === 2 }"
              [ngClass]="{
                'red-text': numberOfProducts > 0,
                'has-quantity': numberOfProducts > 0
              }"
              (click)="setActiveNavItem(2)"
              routerLink="/orders"
              [attr.data-quantity]="numberOfProducts"
            >
              <i class="fas fa-shopping-cart icon"></i>
              Giỏ hàng {{ numberOfProducts }}
            </a>
          </li>
          <li class="nav-item">
            <ng-container *ngIf="userResponse">
              <ng-container
                ngbPopover="Tài khoản của tôi,Đơn mua,Đăng xuất"
                popoverTitle="User Actions"
                triggers="click"
                [placement]="'bottom'"
              >
                <a
                  class="nav-link"
                  [ngbPopover]="popoverContent"
                  (click)="togglePopover($event)"
                >
                  {{ userResponse.fullname }}
                </a>
                <ng-template #popoverContent>
                  <div class="popover-list">
                    <a class="popover-item" (click)="handleItemClick(0)"
                      >Tài khoản của tôi</a
                    >
                    <a class="popover-item" (click)="handleItemClick(1)"
                      >Đơn mua</a
                    >
                    <a class="popover-item" (click)="handleItemClick(2)"
                      >Đăng xuất</a
                    >
                  </div>
                </ng-template>
              </ng-container>
            </ng-container>
            <ng-container *ngIf="!userResponse">
              <a class="nav-link" routerLink="/login">Đăng nhập</a>
            </ng-container>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
