<footer>
    <!-- Footer content goes here -->
    <div class="footer">
        <div class="container">
            <div class="row footer-description">
                <footer class="footer">
                    <div class="footer-column">
                        <h2>Giới Thiệu</h2>
                        <p>Flower SupperStore - Được biết đến là công ty tiên phong mở đầu cho việc trồng hoa chuyên nghiệp tại Việt Nam được thành lập từ năm 1994.
                            Năm 2013 Flower SupperStore được tạp chí Flowers Tech có trụ sở tại Mỹ bình chọn là công ty hoa tươi lớn nhất Đông Nam Á.</p>
                        <p>Địa chỉ trụ sở: 235 Hoàng Quốc Việt, Cổ Nhuế I, Bắc Từ Liêm, Hà Nội</p>
                            
                            
                    </div>
                    <div class="footer-column1">
                        <h2>Thông Tin</h2>
                        <ul>
                            <li>Trang Chủ</li>
                            <li>Bài Viết</li>
                            <li>Đăng Nhập </li>
                        </ul>
                    </div>
                    <div class="footer-column2">
                        <h2>Liên Hệ</h2>
                        <ul>
                            <li>Email: webshop@flowersupperstore.com</li>
                            <li>Email CSKH: hotro@flowersupperstore.com</li>
                            <li>Hotline: 123456789 </li>
                        </ul>
                    </div>
                </footer>
            </div>
        </div>
    </div>
</footer>
