server:
  port: 8088
api:
  prefix: api/v1
jwt:
  expiration: 2592000
  secret-key: TaqlmGv1iEDMRiFp/pHuID1+T84IABfuA0xXh4GhiUI=
spring:
  datasource:
    url: jdbc:mysql://localhost:3308/shopapp?useSSL=false&serverTimezone=UTC
    driver-class-name: com.mysql.cj.jdbc.Driver
    username: root
    password:
  jpa:
    show-sql: true
    hibernate:
      ddl-auto: none
    properties:
      hibernate:
        dialect: org.hibernate.dialect.MySQL8Dialect
        format_sql: true
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB

payment:
  vnPay:
    url: https://sandbox.vnpayment.vn/paymentv2/vpcpay.html
    tmnCode: YIH63T3Q
    secretKey: WRA9C1APJY5M432BO5K7RHZQOKA9CPYT
    returnUrl: http://localhost:8088/api/v1/payment/vn-pay-callback
    version: 2.1.0
    command: pay
    orderType: other
