.container {
    color: white;
}
.intro-section {
    color: black;
    padding: 20px;
    text-align: center;
    line-height: 20px;
    font-size: 30px;
    font-weight: bold;
}

.form-control {
    background-color: white;
    // background-color: rgb(19, 23, 42);
    border: 1px solid rgb(29, 33, 54);
   
}

.form-control:focus {
    border-color: white;
    // background-color: rgb(19, 23, 42);
    background-color: white;
}
.form-label {
    color: black;
}
.product-header {
    color:rgb(233, 66, 176);;
    font-weight: bold;
}
.product-header p{
    color: black;
}
.product-order {
    color: rgb(233, 66, 176);
}
table {
    width: 100%;
    border-radius: 10px ;
    border: none;
    border-collapse: separate;
    // border: 1px solid white;
    border-spacing: 0;
    // background-color: rgb(12, 13, 54);    
  
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background-color: white;
}


.mb-3{
    color: black;
}
th,
td {
    
    padding: 10px 6px;
    text-align: center;
  
    color: black;

}
.product-info {
    display: flex;
    align-items: center;

}

.product-image {
    width: 100px;
    height: 100px;
    border-radius: 5px;
    margin-right: 10px;
}

.product-name {
    color: black;
    margin-right: 10px;
}
.btn-gradient {
    background: linear-gradient(to right, rgb(225, 64, 180), rgb(126, 43, 237));
    color: white;
    border-radius: 30px;
    width: 200px;
    padding: 11px;
}

  h5,h3{
    color:black;
  }
 