<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Đặt hàng</h1>
  </div>
  <form [formGroup]="orderForm">
    <!-- Thêm form và gán formGroup -->
    <div class="row">
      <div class="col-md-5">
        <h2 class="product-header">Thông tin người nhận</h2>
        <div class="mb-3">
          <label for="fullname" class="form-label">Họ và tên</label>
          <input
            type="text"
            formControlName="fullname"
            class="form-control"
            id="fullname"
            [class.is-invalid]="
              orderForm.get('fullname')!.invalid &&
              orderForm.get('fullname')!.touched
            "
          />
          <div
            *ngIf="
              orderForm.get('fullname')!.invalid &&
              orderForm.get('fullname')!.touched
            "
            class="invalid-feedback"
          >
            Họ và tên là trường bắt buộc.
          </div>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            type="text"
            formControlName="email"
            class="form-control"
            id="email"
            [class.is-invalid]="
              orderForm.get('email')!.invalid && orderForm.get('email')!.touched
            "
          />
          <div
            *ngIf="
              orderForm.get('email')!.invalid && orderForm.get('email')!.touched
            "
            class="invalid-feedback"
          >
            {{
              orderForm.get("email")!.hasError("email")
                ? "Email không hợp lệ"
                : "Email là trường bắt buộc"
            }}
          </div>
        </div>

        <div class="mb-3">
          <label for="phone" class="form-label">Số điện thoại</label>
          <input
            type="text"
            class="form-control"
            formControlName="phone_number"
            placeholder="Số điện thoại"
            required
            id="phone"
            [class.is-invalid]="
              orderForm.get('phone_number')!.invalid &&
              orderForm.get('phone_number')!.touched
            "
          />
          <div
            *ngIf="
              orderForm.get('phone_number')!.invalid &&
              orderForm.get('phone_number')!.touched
            "
            class="invalid-feedback"
          >
            Số điện thoại là trường bắt buộc và ít nhất 6 ký tự.
          </div>
        </div>
        <div class="mb-3">
          <label for="provinceSelect" class="form-label">Tỉnh/Thành phố</label>
          <select
            id="provinceSelect"
            class="form-control product-category"
            (change)="provinceChange()"
            formControlName="province"
          >
            <option [value]="0">Lựa chọn tỉnh/thành phố</option>
            <option
              *ngFor="let province of provinces"
              [value]="province.provinceId"
            >
              {{ province.provinceName }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Quận/Huyện</label>
          <select
            class="form-control product-category"
            (change)="districtChange()"
            formControlName="district"
          >
            <option [value]="0">Lựa chọn quận/huyện</option>
            <option
              *ngFor="let district of districts"
              [value]="district.districtId"
            >
              {{ district.districtName }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="" class="form-label">Phường/Xã</label>
          <select
            class="form-control product-category"
            formControlName="ward"
            (change)="wardChange()"
          >
            <option [value]="0">Phường/Xã</option>
            <option *ngFor="let ward of wards" [value]="ward.wardCode">
              {{ ward.wardName }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="shippingMethod">Phương thức vận chuyển</label>
          <select
            class="form-control"
            id="shippingMethod"
            formControlName="service"
            (change)="serviceChange()"
          >
            <option [value]="0">Chọn phương thức vận chuyển</option>
            <option
              *ngFor="let service of services"
              [value]="service.serviceId"
            >
              {{ service.serviceName }}
            </option>
          </select>
        </div>
        <div class="mb-3">
          <label for="paymentMethod">Phương thức thanh toán</label>
          <select
            class="form-control"
            id="paymentMethod"
            formControlName="payment_method"
          >
            <option value="cod">Thanh toán khi nhận hàng (COD)</option>
            <option value="onl">Thanh toán qua VNPay</option>
            <option value="other">Thanh toán khác</option>
          </select>
        </div>
        <!-- </form> -->
      </div>
      <div class="col-md-7">
        <h2 class="product-order">Sản phẩm đã đặt hàng</h2>
        <table>
          <tbody>
            <ng-container *ngFor="let item of cartItems; let i = index">
              <tr>
                <td class="product-info">
                  <div class="product-info">
                    <img
                      [src]="item.product.thumbnail"
                      alt="Product Image"
                      class="product-image"
                    />
                    <span class="product-name">{{ item.product.name }}</span>
                  </div>
                </td>
                <td class="product-quantity">
                  <div class="product-quantity">
                    <div class="border-wrapper">
                      <button (click)="decreaseQuantity(i)">-</button>
                      {{ item.quantity }}
                      <button (click)="increaseQuantity(i)">+</button>
                    </div>
                  </div>
                </td>
                <td class="price">{{ item.product.price | number : "1.2" }}</td>
                <td class="price">
                  {{ item.product.price * item.quantity | number : "1.2" }}
                </td>
                <td class="btnxoa">
                  <button class="btn btn-danger" (click)="confirmDelete(i)">
                    Xóa
                  </button>
                </td>
              </tr>
            </ng-container>
          </tbody>
        </table>
        <div class="text-start mt-3">
          <!-- <h5 class="header-text text-end">
            Ngày ước tính nhận hàng: {{ shippingDate }}
          </h5> -->
          <h5 class="header-text text-end">
            Phí vận chuyển: {{ shippingPrice | number : "1.2-2" }}
          </h5>
          <h5 class="header-text text-end">
            Tổng tiền sản phẩm:
            {{ totalAmount - shippingPrice | number : "1.2-2" }}
          </h5>
          <h3 class="header-text text-end">
            Tổng giá: {{ totalAmount | number : "1.2-2" }}
          </h3>
        </div>
        <div class="mt-3">
          <h4 class="product-header"><p>Nhập coupon:</p>
          FSS30 - giảm 30.000đ đơn hàng từ >= 500.000đ
          <br>FSS50 - giảm 50.000đ đơn hàng từ>= 700.000đ
          <br>FSS70 - giảm 70.000đ đơn hàng từ >= 1.000.000đ
          <br>FSS100 - giảm 100.000 đơn hàng từ>= 1.200.000đ
          </h4>
          <div class="input-group">
            <input type="text" class="form-control" placeholder="Nhập coupon" />
            <button class="btn btn-gradient" type="button">Áp dụng</button>
          </div>
        </div>
        <div class="text-start mt-3">
          <button (click)="placeOrder()" class="btn btn-gradient" type="button">
            Đặt hàng
          </button>
        </div>
      </div>
    </div>
  </form>
</div>
<app-footer></app-footer>
