
<app-header></app-header>
<div class="container">
  <div class="intro-section">
    <h1>Bài viết</h1>
    <p>Các bạn có thể xem các bài viết tại đây</p>
  </div>
  <!--Đoạn này có 1 ô searchbox bên trái, 1 combobox bên phải  -->
  <div class="row">
    <div class="col-lg-4 col-md-6">
      <div class="product-item">
        <img src="" alt="Product Image" class="product-image" />
        <h3 class="product-name">Bài viết 1</h3>
        <p class="product-price">Đọc thêm</p>
      </div>
    </div>
    <div class="col-lg-4 col-md-6">
        <div class="product-item">
          <img src="" alt="Product Image" class="product-image" />
          <h3 class="product-name">Bài viết 1</h3>
          <p class="product-price">Đọc thêm</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product-item">
          <img src="" alt="Product Image" class="product-image" />
          <h3 class="product-name">Bài viết 1</h3>
          <p class="product-price">Đọc thêm</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product-item">
          <img src="" alt="Product Image" class="product-image" />
          <h3 class="product-name">Bài viết 1</h3>
          <p class="product-price">Đọc thêm</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product-item">
          <img src="" alt="Product Image" class="product-image" />
          <h3 class="product-name">Bài viết 1</h3>
          <p class="product-price">Đọc thêm</p>
        </div>
      </div>
      <div class="col-lg-4 col-md-6">
        <div class="product-item">
          <img src="" alt="Product Image" class="product-image" />
          <h3 class="product-name">Bài viết 1</h3>
          <p class="product-price">Đọc thêm</p>
        </div>
      </div>
  </div>
</div>

<app-footer></app-footer>
