<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Phiếu xuất hàng hóa</title>
  </head>
  <body>
    <div class="container">
      <div class="form-container">
        <div class="logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-flower2"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a4 4 0 0 0 4-4 4 4 0 0 0 0-8 4 4 0 0 0-8 0 4 4 0 1 0 0 8 4 4 0 0 0 4 4m3-12q0 .11-.03.247c-.544.241-1.091.638-1.598 1.084A3 3 0 0 0 8 5c-.494 0-.96.12-1.372.331-.507-.446-1.054-.843-1.597-1.084A1 1 0 0 1 5 4a3 3 0 0 1 6 0m-.812 6.052A3 3 0 0 0 11 8a3 3 0 0 0-.812-2.052c.215-.18.432-.346.647-.487C11.34 5.131 11.732 5 12 5a3 3 0 1 1 0 6c-.268 0-.66-.13-1.165-.461a7 7 0 0 1-.647-.487m-3.56.617a3 3 0 0 0 2.744 0c.507.446 1.054.842 1.598 1.084q.03.137.03.247a3 3 0 1 1-6 0q0-.11.03-.247c.544-.242 1.091-.638 1.598-1.084m-.816-4.721A3 3 0 0 0 5 8c0 .794.308 1.516.812 2.052a7 7 0 0 1-.647.487C4.66 10.869 4.268 11 4 11a3 3 0 0 1 0-6c.268 0 .66.13 1.165.461.215.141.432.306.647.487M8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
            /></svg>&nbsp;Flower SupperStore
        </div>
        <h2>Xuất hàng hóa</h2>
        <div class="search-container">
          <div class="search-wrapper">
            <input
              type="text"
              [(ngModel)]="searchTerm"
              (input)="onSearch()"
              placeholder="Tìm kiếm..."
              class="search-input"
            />
            <span class="search-icon"></span>

          </div>
          <div class="dropdown" [ngClass]="{ show: showDropDown }">
            <ul class="dropdown-list">
              <li
                class="dropdown-item"
                *ngFor="let option of filterdOptions"
                (click)="onRawProductClick(option.id)"
              >
                {{ option.name }}
              </li>
            </ul>
          </div>
        </div>
        <form>
          <div class="form-group">
            <label for="product-code">Tên phiếu xuất:</label>
            <input
              type="text"
              id="product-code"
              name="transactionDocumentName"
              [(ngModel)]="transactionDocumentName"
              required
            />
          </div>
          <div class="form-group">
            <label for="product-name">Tên hàng hóa:</label>
            <input
              type="text"
              id="product-name"
              name="name"
              [(ngModel)]="typingRawProduct.name"
              required
            />
          </div>
          <div class="form-group">
            <label for="quantity">Số lượng:</label>
            <input
              type="number"
              id="quantity"
              name="quantity"
              [(ngModel)]="quantity"
              required
            />
          </div>
          <div class="form-group">
            <label for="unit-price">Đơn giá:</label>
            <input
              type="number"
              id="unit-price"
              name="unit-price"
              name="price"
              [(ngModel)]="typingRawProduct.price"
              required
            />
          </div>
          <div class="form-group">
            <label for="supplier">Cửa hàng:</label>
            <select
              id="supplier"
              name="store"
              [(ngModel)]="typingRawProduct.store_id"
            >
              <option [value]="0">Chọn cửa hàng</option>
              <option *ngFor="let store of stores" [value]="store.id">
                {{ store.name }}
              </option>
            </select>
          </div>
          <button type="submit" (click)="addRawProductToTransactionDocument()">
            Nhập
          </button>
        </form>
      </div>
      <div class="GRN">
        <div class="logo">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="30"
            height="30"
            fill="currentColor"
            class="bi bi-flower2"
            viewBox="0 0 16 16"
          >
            <path
              d="M8 16a4 4 0 0 0 4-4 4 4 0 0 0 0-8 4 4 0 0 0-8 0 4 4 0 1 0 0 8 4 4 0 0 0 4 4m3-12q0 .11-.03.247c-.544.241-1.091.638-1.598 1.084A3 3 0 0 0 8 5c-.494 0-.96.12-1.372.331-.507-.446-1.054-.843-1.597-1.084A1 1 0 0 1 5 4a3 3 0 0 1 6 0m-.812 6.052A3 3 0 0 0 11 8a3 3 0 0 0-.812-2.052c.215-.18.432-.346.647-.487C11.34 5.131 11.732 5 12 5a3 3 0 1 1 0 6c-.268 0-.66-.13-1.165-.461a7 7 0 0 1-.647-.487m-3.56.617a3 3 0 0 0 2.744 0c.507.446 1.054.842 1.598 1.084q.03.137.03.247a3 3 0 1 1-6 0q0-.11.03-.247c.544-.242 1.091-.638 1.598-1.084m-.816-4.721A3 3 0 0 0 5 8c0 .794.308 1.516.812 2.052a7 7 0 0 1-.647.487C4.66 10.869 4.268 11 4 11a3 3 0 0 1 0-6c.268 0 .66.13 1.165.461.215.141.432.306.647.487M8 9a1 1 0 1 1 0-2 1 1 0 0 1 0 2"
            /></svg>&nbsp;Flower SupperStore
        </div>
        <h2>PHIẾU XUẤT KHO</h2>
        <div class="time">Ngày {{day}} tháng {{month}} năm {{year}}</div>
        <div>
          <table>
            <thead>
              <tr>
                <th>STT</th>
                <th>Mã hàng hóa</th>
                <th>Tên hàng hóa</th>
                <th>Đơn giá</th>
                <th>Số lượng</th>
                <th>Cửa hàng</th>
                <th>Người nhập</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let rawProduct of rawProducts; let i = index">
                <td>{{ i + 1 }}</td>
                <td>{{ rawProduct.id }}</td>
                <td>{{ rawProduct.name }}</td>
                <td>{{ rawProduct.price }}</td>
                <td>{{ rawProduct.quantity }}</td>
                <td>{{ rawProduct.store_id }}</td>
                <td>{{ userName }}</td>
                <td><a >Sửa</a></td>
                <td><a (click)="removeRawProduct(i)">Xóa</a></td>
              </tr>
            </tbody>
            <tfoot>
              <tr>
                <th colspan="8">Thành tiền:</th>
                <th>{{totalPrice}}</th>
              </tr>
            </tfoot>
          </table>
        </div>
        <div class="empty"></div>
        <div>
          <table class="signature-table">
            <tr>
              <td>Người lập phiếu</td>
              <td>Người giao hàng</td>
            </tr>
            <tr>
              <td>(Ký họ tên)</td>
              <td>(Ký họ tên)</td>
            </tr>
            <tr>
              <td><br /></td>
              <td><br /></td>
            </tr>
            <tr>
              <td><br /></td>
              <td><br /></td>
            </tr>
            <tr>
              <td><br /></td>
              <td><br /></td>
            </tr>
            <tr>
              <td><br /></td>
              <td><br /></td>
            </tr>
          </table>
        </div>
        <div class="empty"></div>
        <div>
          <button type="submit" (click)="createTransactionDocument()">Gửi</button>
        </div>
      </div>
    </div>
  </body>
</html>
